/* The CSS was customized in WordPress > Divi > Theme Options. For any updates or additions, do so in the same place.*/
/*Police Syne apply to all body
body * {
    font-family: 'Syne', sans-serif;
}
 
h1, h2, h3 {
    font-family: 'Syne', sans-serif;
    text-align: center;
}


h1, h2 {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size : 38px;
}

h2, h3 {
    font-size : 30px;
}

h3 {
    font-weight: 700;
} */
